extends layout

block extrahead
    title Robot

block content
    h1 Robot
    hr
    table
        tr
            td Status
            td#status= status
        tr
            td Paused
            td
                if paused
                    input#paused(type='checkbox',checked)
                else
                    input#paused(type='checkbox')
        tr
            td Story subscriptions
            td
                if storiesPaused
                    input#storiesPaused(type='checkbox',checked)
                else
                    input#storiesPaused(type='checkbox')
        tr
            td Queue (
                span#queueCount -
                | )
            td
                table#queue
        tr
            td Add to queue
            td
                form(action='null')
                    | type
                    //- input#queueType(type='text')
                    select#queueType
                        option(value='login') login
                        option(value='profile') profile (username)
                        option(value='posts') posts (username)
                        option(value='post') post (code)
                        option(value='download') download (content_id)
                        option(value='stories') stories (username)
                        option(value='login') login
                        option(value='contentToDownloadQueue') contentToDownloadQueue
                        option(value='saved') saved
                        option(value='savedToQueue') savedToQueue
                    |  login
                    select#queueLogin
                        each login in logins
                            option(value=login.id)= login.username
                    |  content
                    input#queueContent(type='text')
                    |  priority
                    input#queuePriority(type='checkbox')
                    input#queueSubmit(type='submit',value='Add')
    script(src='/socket.io.js')
    script(src='/robot.js')